.brick-flights {
    .txt2 {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .txt3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .stars1 {
        margin-bottom: 10px;
    }

    .caption {
        padding: 20px !important;
        height: 325px;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}
