.seat-flight {
    &-item {
        margin-bottom: 25px;
    }
    &-title {
        font-size: 17px !important;
        height: 59px;
        overflow: hidden;
    }
}

.btn-default.s1.active {
    background: url("/static/images/type1_hover.png") center center no-repeat
        #1cbbb4;
    border-color: #1cbbb4;
}
.btn-default.s3.active {
    background: url(/static//images/type3_hover.png) center center no-repeat
        #1cbbb4;
    border-color: #1cbbb4;
}

.select1_wrapper.buttons {
    float: right;
    @media (max-width: 992px) {
        display: none;
    }
}
